reports/
/src/test/java/screenshots/
/screenshots/
logs/
/target/
/target/surefire-reports/
/target
accounts.csv
products.json
category_products.json
categories.json
product flow.xlsx
Product_Categories.xlsx
Element Id.xlsx


