<suite name="AtombergApp" parallel="tests" thread-count="2">
    <test name="Device1">
        <parameter name="deviceSlot" value="1"/>
        <classes>
            <class name="Tests.AppTest"/>
        </classes>
    </test>
    <test name="Device2">
        <parameter name="deviceSlot" value="2"/>
        <classes>
            <class name="Tests.AppTest"/>
        </classes>
    </test>
<!--    <test name="Device3">-->
<!--        <parameter name="deviceSlot" value="3"/>-->
<!--        <classes>-->
<!--            <class name="Tests.AppTest"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>
